<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Add Student's Grade</title>
    </head>

	{{ExtraInfo}}
	<p>录入学生成绩[录入后，不可修改]</p>
	<p>世事艰难，劳役疲惫，数据库酱衷心祈愿每位同学都能过</p>
	<form method='post'>
		<!--defend csrf attack -->
		{%csrf_token%}
	
		{{form.as_p}}
		
	

			
		<input type ="submit" id="submit" name="submit" style="width:100px ;height:40px;"/><br /><br />
		<input type ="button" id="return_Admin" name="return_Admin" style="width:100px ;height:40px;" \
		onClick="window.location='{% url 'home_url' %}' " value="返回Admin界面"/><br /><br />
	</form>			
		
</html>