	
	
	{'StuInfo':StuInfo,' ExtraInfo': ExtraInfo}
	{{StuInfo}}
	{{ExtraInfo}}
		
	{% for item in form %}
		{{item}}<br/><br>
	{% endfor %}
	<dl>
	    <dd><label for=Sno> 学号(Sno):&nbsp</label>
		<input type ="text" id="Sno" name="Sno"/>(*)<br /><br />
		</dd>
		
		<dd>
		<label for="Sname">姓名(Sname):</label>
		<input type ="text" id="Sname" name="Sname"/>(*)<br /><br />
		</dd>
		
		<dd>
		<label for="Ssex"> 性别(Ssex):&nbsp</label>		
		<input type ="text" id="Ssex" name="Ssex"/>(*)(男、女、shemale)<br /><br />
		</dd>
		
		<dd>
		<label for="Clno"> 班级(Clno):&nbsp</label>	
		<input type ="text" id="Clno" name="Clno"/>(*)<br /><br />
		</dd>
		
		<dd>
		<label for="Sbirth"> 出生年月(Sbirth):&nbsp</label>	
		<input type ="date" id="Sbirth" name="Sbirth"/><br /><br />
		</dd>
		
		<dd>
		<label for="Sentrance">入学时间(Sentrance):</label>	
		<input type ="date" id="Sentrance" name="Sentrance"/><br /><br />
		</dd>
	</dl>