<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>AddStudent</title>
    </head>

	{{ExtraInfo}}
	<p>添加一名学生信息</p>
	<p>出生时间、入学时间(例如2007-05-12)是选填内容</p>
	<form method='post'>
		<!--defend csrf attack -->
		{%csrf_token%}
	
		{{form.as_p}}
		
	

			
		<input type ="submit" id="submit" name="submit" style="width:100px ;height:40px;"/><br /><br />
		<input type ="button" id="return_Admin" name="return_Admin" style="width:100px ;height:40px;" \
		onClick="window.location='{% url 'home_url' %}' " value="返回Admin界面"/><br /><br />
	</form>			
		
</html>
