<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title> Admin</title>
    </head>
   
    <body>
        
        <p>学籍管理主界面（标准化丑陋）</p>
       
        {{msg1}}
        {{msg2}}
        <br><br>
        Add:&nbsp&nbsp&nbsp
        <input type='button' name='StuBtn' value='Student' 
                onClick="window.location=
                '{% url 'addStuForm_url' %}' ">  
        <input type='button' name='GradeBtn' value='Grade' 
                onClick="window.location=
                '{% url 'addGradeForm_url' %}' ">
        <br><br>
        Search:&nbsp
        <input type='button' name='SearchStuBtn' value='Student' 
                onClick="window.location=
                '{% url 'searchStuForm_url' %}' ">  
        <input type='button' name='SearchStu_TeacherBtn' value='Student&acute s Teacher' 
                onClick="window.location=
                '{% url 'searchStu_TeacherForm_url' %}' ">
        <br><br>
        Warning:&nbsp
        <input type='button' name='WarningStuBtn' value='warningStudent' 
                onClick="window.location=
                '{% url 'Stu_WarningForm_url' %}' "> 
        <br> 
       
        
    </body>
        
    </html> 