<html>
    <head>
        <meta charset="utf-8">
        <title>SearchStudent's Teacher</title>
    </head>
	{{ExtraInfo}}
	<p>按学号或姓名和课程号或课程名搜索学生的授课教师信息</p>
	<form method='post'>
		<!--defend csrf attack -->
		{%csrf_token%}
	
		{{form.as_p}}
		
	

			
		<input type ="submit" id="submit" name="submit" style="width:100px ;height:40px;" value="Search"/><br /><br />
		<input type ="button" id="return_Admin" name="return_Admin" style="width:100px ;height:40px;" \
		onClick="window.location='{% url 'home_url' %}' " value="返回Admin界面"/><br /><br />
	</form>
	{{SearchInfo}}
	<br /><br />
	{% for item in QueryResult %}
	
	{{item}}<br /><br />
	

	{% endfor %}