<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>SearchStudent</title>
    </head>
	{{ExtraInfo}}
	<p>按学号或姓名或专业搜索学生信息</p>
	<form method='post'>
		<!--defend csrf attack -->
		{%csrf_token%}
	
		{{form.as_p}}
		
	

			
		<input type ="submit" id="submit" name="searchGradeInfo" style="width:100px ;height:40px;" value="搜索学生成绩"/><br /><br />
		<input type ="submit" id="submit" name="searchStuInfo" style="width:100px ;height:40px;" value="搜索学生个人"/><br /><br />
		<input type ="button" id="return_Admin" name="return_Admin" style="width:100px ;height:40px;" \
		onClick="window.location='{% url 'home_url' %}' " value="返回Admin界面"/><br /><br />
	</form>
	{{SearchInfo}}
	<br /><br />
	{% for item in QueryResult %}
	
	{{item}}<br /><br />
	

	{% endfor %}

		
</html>